<!DOCTYPE html>
<html>
<head>
    <title>Buzzel</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="navbar">
    <img src="/static/images/image.png" width="40">
    <h2>Buzzel 🔍</h2>
</div>

<form action="/search" method="POST" class="search-box">
    <input type="text" name="search" placeholder="Search product..." required>
    <button type="submit">Search</button>
</form>

<div style="text-align:center; margin-top:20px;">
    <a href="/view_wishlist">❤️ View Wishlist</a>
</div>

<br>

<div style="text-align:center;">
    <a href="/login">Login</a>
</div>

</body>
</html>